= render "projects/blob/breadcrumb", blob: blob

.info-well.d-none.d-sm-block
  .well-segment
    %ul.blob-commit-info
      = render 'projects/commits/commit', commit: @last_commit, project: @project, ref: @ref

  = render_if_exists 'projects/blob/owners', blob: blob
  = render "projects/blob/auxiliary_viewer", blob: blob

#blob-content-holder.blob-content-holder
  - if native_code_navigation_enabled?(@project)
    #js-code-navigation{ data: { commit_id: blob.commit_id, path: blob.path, project_path: @project.full_path } }
  %article.file-holder
    = render 'projects/blob/header', blob: blob
    = render 'projects/blob/content', blob: blob
